<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320082352995-cudcqan0j6mffbgv4n6u148e5fpnsqld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320082352995-cudcqan0j6mffbgv4n6u148e5fpnsqld</string>
	<key>API_KEY</key>
	<string>AIzaSyCyXpc6dcdRqjsJz7Z7tiTcFAM-BQKHU_k</string>
	<key>GCM_SENDER_ID</key>
	<string>320082352995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.formulaire.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-form-b0399</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-form-b0399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320082352995:ios:39c08ada548f8617bed156</string>
</dict>
</plist>